DOCKER_INFLUXDB_INIT_MODE=setup
DOCKER_INFLUXDB_INIT_USERNAME=admin
DOCKER_INFLUXDB_INIT_PASSWORD=administrator
DOCKER_INFLUXDB_INIT_ORG=discord_org
DOCKER_INFLUXDB_INIT_BUCKET=discord_metrics
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=my-super-secret-auth-token