DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=
DISCORD_INVITE_LINK=discord.gg/
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=-
INFLUX_URL=influxdb:8086
INFLUX_BUCKET=discord_metrics
INFLUX_ORG=discord_org
INFLUX_TOKEN=mytoken
